{% extends 'base.html'%}

{% block content %}
	<div class="container jumbotron mycontainer">
		<h4>Hi Folks, I am Enote! Your manager for handling all your notes whenever you need.</h4>
		<h5 style="font-style:italic;">Hi Enote! But what are you built with?</h5>
		<ul>
			<li>Python</li>
			<li>Django</li>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>Bootstrap</li>
			<li>Jquery</li>
			<li>SQL</li>
		</ul>
		
		<h5 style="font-style:italic;">Sounds Great! What can you do for me?</h5>
		<ul>
			<li>Signup, Login and create your profile and I will do all the management stuff</li>
			<li>Create your notes, with a simple form and I will store it safely with me</li>
			<li>Wanna share your notes with your friends? I will ease that too with my social sharing links</li>
		</ul>
		<h5 style="font-style:italic;">Awesome!This was something I needed!</h5>
		<p>Cool! Get started with the signup link to the top-right of the screen</p>
	</div>
{% endblock %}